@charset "utf-8";
/* CSS Document */
html,body { width:100%; height:100%;}
body { padding:0; margin:0; font:15px Arial, sans-serif; background:url(../images/header_bg.png) repeat-x #fff; color:#000;}
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {padding:0; margin:0; outline:none; list-style:none;}
select, input, textarea { font-size:12px; vertical-align:middle;}
textarea { vertical-align:top;}
:focus { outline:none;}
input[type=submit] { cursor:pointer;}
img, fieldset { border:0;}
table { border-collapse:collapse; border-spacing:0;}
a:link, a:visited { font:12px Tahoma, sans-serif; text-decoration:underline;}
a:hover { text-decoration:none;}
input, textarea { border:0;}

.float-r { float:right !important;}
.float-l { float:left !important;}
.no-float { float:none !important;}
.no-border { border:0 !important;}
.no-bg { background:none !important;}
.no-margin { margin:0 !important;}
.no-padding { padding:0 !important;}
.no-display { display:none !important;}
.display { display:block !important;}
.inline { display:inline !important;}
.overflow { overflow:hidden !important;}
.align-r { text-align:right !important;}
.align-l { text-align:left !important;}
.align-c { text-align:center !important;}
.clear { clear:both;}


#wrapper { width:900px; margin:0 auto;}

#header { height:89px; padding-top:19px; margin-bottom:30px;}
#header .nav { float:right; margin-right:10px;} 
#header .nav li { float:left;}
#header .nav li a { color:#396375; font-size:15px; text-transform:uppercase; text-decoration:none; padding:37px 10px; line-height:1em; display:block;}
#header .nav li a:hover { color:#E11D5C;}
#header .nav li.active a { background:url(../images/header_active-link.png) 50% 100% no-repeat; color:#E11D5C;}
.social { float:right; padding-top:30px; margin-right:115px;}
.social li { float:left; margin-left:10px;}
.social li a { width:23px; height:23px; background:url(../images/social-buttons.png) no-repeat; text-indent:-999em; display:block;}
.social li a.fb { background-position:-1px -1px;}
.social li a.vk { background-position:-33px -1px;}
.social li a.tw { background-position:-65px -1px;}
.social li a.yt { background-position:-97px -1px;}
.social li a.vm { background-position:-129px -1px;}
.social li a.fb:hover { background-position:-1px -25px;}
.social li a.vk:hover { background-position:-33px -25px;}
.social li a.tw:hover { background-position:-65px -25px;}
.social li a.yt:hover { background-position:-97px -25px;}
.social li a.vm:hover { background-position:-129px -25px;}


#content { overflow:hidden; padding:0 40px 60px 40px;}
#content h1 { font-family:Myriad Pro, Arial, Helvetica, sans-serif; color:#4B7589; font-size:55px; border-bottom:1px solid #A7C3CF; font-weight:normal; margin:0px -36px 35px -36px;}
#content h3 { color:#E92777; font-family:Myriad Pro, Arial, Helvetica, sans-serif; font-size:28px;font-weight:normal;}
#content p { font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#4B7589;  padding:25px 0px; line-height:14pt;}

#content ul.list1 { font-size:15; font-family:Arial, Helvetica, sans-serif; color:#F2753D; line-height:15pt;}
#content ul.list1 li { margin-bottom:15px;}
#content .list1 li.stage1 { background:url(../images/one.gif) no-repeat 0 0; padding-left:20px;}
#content .list1 li.stage2 { background:url(../images/two.gif) no-repeat 0 0; padding-left:20px;}
#content .list1 li.stage3 { background:url(../images/three.gif) no-repeat 0 0; padding-left:20px;}

#content .list2 li { margin-bottom:10px; overflow:hidden;}
#content .list2 { padding-left:75px;}
#content .contlabel { width:160px; text-align:right; display:block; float:left; margin-right:20px; font-weight:bold; font-size:15px; font-family:Arial, Helvetica, sans-serif; color:#4B7589; padding-top:11px;}
#content .error .contlabel { color:#E92777;}
#content .field { font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#4B7589; background:#E8F0F2; border-top:1px solid #92ACB7;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; padding:10px 15px; width:330px; float:left; margin-right:10px;}
#content span { padding-top:11px; color:#EB3581; font-size:14px;display:none;  }
#content .error span { display:block;}

#content .checkbox { padding-left:180px; width:330px;}
#content .laptop { color:#4B7589; font-size:15px; padding-left:10px; }

#content .numbers .contlabel_1 { width:160px; text-align:right; display:block; float:left; margin-right:20px; font-size:15px; font-family:Arial, Helvetica, sans-serif; color:#4B7589; padding-top:11px;}
#content .numbers { background:url(../images/pointer.gif) no-repeat 45% 50%;}
#content .field_1 { font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#4B7589; background:#E8F0F2; border-top:1px solid #92ACB7;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; padding:10px 15px; width:153px; float:right; margin-right:202px; margin-top:5px;}

#content li.send input { border:none; background:url(../images/send.png) no-repeat 50% 50%; padding:10px 50px; color:#FFFFFF; font-size:29px; font-family:Myriad Pro, Arial, Helvetica, sans-serif; margin-left:177px; margin-top:30px;}



#footer {border-top:1px solid #A7C3CF; padding-bottom:400px;}
#footer .menu li a { float:left; overflow:hidden; font-size:11px; font-family:Arial, Helvetica, sans-serif; color:#396375; padding-top:15px;  text-decoration:none;  margin-left:10px; }
#footer .menu li.active1 a { color:#F85B4E;}
#footer .menu a:hover { color:#F85B4E;}
#footer .copyright { float:right; padding-top:10px; color:#A7C3CF; font-family:Arial, Helvetica, sans-serif; size:11px;}