@charset "utf-8";
html,body                       { width:100%; height:100%; margin:0; font-family:Arial, Helvetica, sans-serif;  }
body { background:url(../images/bg-ground.jpg) no-repeat; background-size:1390px 550px;}
div,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:12px Tahoma, sans-serif; color:#000; text-decoration:none; }
a:hover                        { text-decoration:none; }

.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }

#wrapper { margin:0 auto; width:75%;}

#banner { overflow:hidden; margin-bottom:30px;}

#banner .right { float:right; background:url(../images/search-bg.png) no-repeat 50%; background-size:300px 500px; margin-top:19px; margin-right:20px; padding:0 20px;}
#banner .bg { background:url(../images/banner_bg.png) no-repeat ; background-size:100%;}
#banner .logo img { margin-top:43px; display:inline;}
#banner .yacht img { margin:19px 15px;}
#banner .language { float:right; margin-top:100px;}
#banner li { display:inline; }
#banner .language li { padding-right:20px;}
#banner .button li { display:block;}
#banner .five-y { margin-top:10px; margin-left:20px; display:inline;}
#banner .read { display:block;  color:#ACACAC; margin-top:10px; margin-bottom:10px; background:url(../images/2pointer.png) no-repeat  50% 53%;}
#banner li .find input { border:none; background:url(../images/more.png) no-repeat 50% 50%; color:#FFFFFF; padding:10px 100px;}
#banner ul .button select {  color:#ACACAC; border:none; background:url(../images/search.png) repeat-y; width:200px;}

#header { overflow:hidden; margin-bottom:30px;}
#header li { float:left; margin-right:40px;}
#header ul a { margin-left:34px; background:url(../images/nav.png) no-repeat;  color:#FFFFFF; padding:10px;}

#content {  overflow:hidden; color:#414141;} 
#content h2 { color:#C1341B; padding:20px 0px 7px 0px; }
#content h3 {font-weight:normal;}
#content img { float:left; padding-right:20px; }
#content .block1 { float:left; overflow:hidden; width:79%; padding-bottom:25px; background:url(../images/cont-bg.png) no-repeat; background-size:821px 385px; padding:40px 20px;}
#content .block2 { overflow:hidden; width:79%; padding-bottom:25px; background:url(../images/cont-bg.png) no-repeat; background-size:821px 385px; padding:40px 20px; margin-bottom:20px;}
#content .order ul { float:left;}
#content .order li { padding:5px;}
#content .order li input { border:none; background: url(../images/1.png) no-repeat; padding:5px 28px; color:#FFFFFF;}